{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-t">
<div class="col-lg-12">
	
<div class="card bg-dark text-white">
	<img src="{% static 'images/img.jpg' %}" class="card-img" alt="bg image">
  <div class="card-img-overlay">
  	<h1 class="text-center mt-5 mb-5">Parcel Delivery</h1>
  </div>
</div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CUSTOMER</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">COURIER</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
